.header {
    background-color: blue;
    color: whitesmoke;
    padding: 20px;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.right {
    text-align: right;
}